<div class="edit-annotation-container">
	<div class="text-content-container">
		<h1>Annotate The Web</h1>
		<h3>Reset Password</h3>
		<h6>Change your password below</h6>
		<div class="edit-annotation-form-container">
			<form class="generic reset-form" [formGroup]="resetForm" (keyup.enter)="reset()">
				<div>
					<label for="annotation" autofocus>Email</label>
					<input formControlName="email">
					<p class="invalid-form-control-message" *ngIf="resetForm.touched && !resetForm.valid">Invalid email</p>
				</div>
				<div>
					<label for="annotation">Old Password</label>
					<input type="password" formControlName="oldPassword">
				</div>
				<div>
					<label for="annotation">New Password</label>
					<input type="password" formControlName="newPassword">
					<p class="invalid-form-control-message">You must add a different password.</p>
				</div>
				<div class="form-buttons-container">
					<button type="submit" (click)="reset()">Reset</button>
				</div>
			</form>
		</div>
	</div>
</div>
